@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i&subset=cyrillic';

html {
  font-size: 16px;

  body {
    color: #3a3f51;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    line-height: 1.5285;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: greyscale !important;
  }
}
