@use 'src/styles/mixins';

.root {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
  animation: logoSpin infinite 20s linear;
}

.header {
  background-color: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.link {
  color: var(--color-primary);
}

p {
  color: var(--color-primary);
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
